@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/TitilliumWebSemiBold.ttf");
    font-family: "Titillium Web";
    font-weight: 600;
    }
    @font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/TitilliumWebBold.ttf");
    font-family: "Titillium Web";
    font-weight: 700;
    }
    @font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/PoppinsRegular.ttf");
    font-family: "Poppins";
    font-weight: 400;
    }